// Font Sizes
$MajorHeading: clamp(5rem, 6.5vw, 6.5rem);
$Heading: clamp(3.338rem, calc(22px + 4.025vw), 4.163rem);
$SubHeading: clamp(1.725rem, calc(12px + 2vw), 2.175rem);
$Text: clamp(1.265rem, calc(16px + 0.66vw), 1.775rem);
$Span: clamp(1.1rem, calc(12px + 0.44vw), 1.238rem);
